{% extends 'dashboard/account/auth_base.html' %} {% block content %}

<div class="card card-primary">
  <div class="card-header">
    <h4>Forgot Password</h4>
  </div>
  <div class="card-body">
    <p class="text-muted">Enter Your Registerd Email</p>
    <form method="POST" action="{% url 'account:forgot_password' %}">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="email_input">
          <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus
            autocomplete="false">
          <!-- <span class="code_91">+91</span> -->
        </div>
      </div>
      {% csrf_token %}
      {% for message in messages %}
      <p id="messages" style="color: red;">{{message}}</p>
      {% endfor %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
          Get OTP
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}