{% extends 'dashboard/account/auth_base.html' %} {% block content %}

            <div class="card card-primary">
              <div class="card-header">
                <h4>News Password</h4>
              </div>
              <div class="card-body">
                <form method="POST" action="{% url 'account:forgot_password_new_password' %}">
                  <div class="form-group">
                    <label for="password1">New Password</label>
                    <input type="password" name="password" id="password1" class="form-control" maxlength="254" required />
              
                    {% csrf_token %}

                    {% for message in messages %}
                    <p id="messages" style="color: red;">{{message}}</p>
                    {% endfor %}
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                        Rest Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          {% endblock %}