{% extends 'dashboard/account/auth_base.html' %} {% load static %} {% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h4>Reset Password</h4>
  </div>
  <div class="card-body">
    <p class="text-muted">Enter Your New Password</p>
    <p id="messages" style="color: red;">{{message}}</p>
    <form method="POST" action="{% url 'account:reset_password' %}">
      <div class="form-group">
        <label for="old_password">Old Password</label>
        <input id="old_password" type="password" class="form-control pwstrength" data-indicator="pwindicator"
          name="old_password" tabindex="1" required>
        <div id="pwindicator" class="pwindicator">
          <div class="bar"></div>
          <div class="label"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input id="new_password" type="password" class="form-control pwstrength" data-indicator="pwindicator"
          minlength="6" name="new_password" tabindex="2" required>
        <div id="pwindicator" class="pwindicator">
          <div class="bar"></div>
          <div class="label"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input id="password-confirm" type="password" class="form-control" name="confirm_password" tabindex="3"
          minlength="6" required>
      </div>
      <div class="form-group">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
          Reset Password
        </button>
      </div>
    </form>
    <a class="" href="{% url 'account:forgot_password' %}">forgot password ?</a>
  </div>
</div>
{% endblock %} {% block scripts %}

<script src="{% static 'dashboard/js/jquery.formset.min.js' %}"></script>
<script src="{% static 'dashboard/bundles/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'dashboard/js/page/forms-advanced-forms.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("input[type=text]").focus(function () {
      $(this).select();
    });

    $(".form_set_row").formset({
      prefix: "{{formset.prefix}}",
      formCssClass: "dynamic-formset1",
      addText: "Add",
      addCssClass: "btn btn-primary btn-sm",
      deleteCssClass: "btn btn-danger btn-sm",
      deleteText: "Remove",
      added: function (row) {
        row.find(".form_set_row select").val(null).trigger("change");
        row.find(".select2-selection").click();
      },
    });

    $("form").submit(function (event) {
      event.preventDefault();
      swal({
        title: "Proccessing...!",
        text: "Please wait",
        icon: "info",
        button: false,
      });

      let $this = $(this);
      var url = $this.attr("action");
      var method = $this.attr("method");
      if ($("#password-confirm").val() == $("#new_password").val()) {

        $.ajax({
          type: method,
          url: url,
          dataType: "json",
          contentType: false,
          processData: false,
          data: new FormData(this),

          success: function (data) {
            if (data["status"] == "true") {
              swal({
                title: "Success !",
                text: "Successfully Submited",
                icon: "success",
                button: "ok",
              }).then(function () {
                if (data["redirect_url"]) {
                  location.href = data["redirect_url"];
                }
                if (data["reLoad"]) {
                  location.reload();
                }

                if (data["click_class"]) {
                  $(data["click_class"]).click();
                }
              });
            } else {
              $this.find(".ajax-form-error").text(data["error_message"]);
              swal({
                title: "Try Again !",
                text: data["error_message"],
                icon: "warning",
                button: "OK",
              });
            }
          },
          error: function (data) {
            swal({
              title: "Try Again !",
              text: "something went wrong",
              icon: "warning",
              button: "OK",
            });
          },
        });
      } else {
        swal({
          title: "Try Again !",
          text: "Passwords do not match !",
          icon: "warning",
          button: "OK",
        });
      }
    });
  });

</script>

{% endblock %}