{% extends 'web/base.html' %} 
{% load static %}

{% block content%}
<div class="site-main page-spacing">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>
                            Cancellation Policy
                       </h2>
                       
                        <ol start=1>
                            <p><li>You can cancel your booking by contacting us</li></p>
                            <p><li>5% Charge is applicable on all cancellation.</li>   </p> 
                            <p><li>For Cancellation done prior to 24hr before checkin date,75% is Refundable on regular room.</li>   </p>
                            <p><li>For Cancellation done prior to 24hr before checkin date,50% is Refundable on Discounted room.</li> </p>
                           <p><li>The applicable refund amount will be credited to you within 7-14 working days. </li>   </p> 
                        </ol>
                         </div>
      
  
                
            </div>
        </div>
    </section>
        
</div>
{% endblock %}
