{% extends 'web/base.html' %} {% load static %} {% block content%}
<div class="site-main page-spacing">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Terms and Conditions</h2>
          <ol start="1">
            <p><li>The usual standard check-in time is 14:00 and checkout time is 12:00</li></p>
            <p>
              <li>
                Early check in and Late checkout is subject to availability and
                will be chargeable. Checkouts from 1200 to 1800 hours are
                subject to 50% of room rate and thereafter at 100%
              </li>
            </p>
            <p>
              <li>
                All arrivals prior to 6AM are billed from the previous night.
              </li>
            </p>
            <p>
              <li>
                All arrivals between 0600 to 1100 hours are subject to 50% of
                the room rate.
              </li>
            </p>
            <p>
              <li>
                In case of no-show or cancellation of a guaranteed reservation
                the resort reserves the right to levy retention charged for
                entire reserved stay.
              </li>
            </p>
            <p>
              <li>
                For any disputes in payments and any other legal disputes, the
                jurisdiction of the court will be in Chennai district Tamilnadu.
              </li>
            </p>
          </ol>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
